<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Dodaj produkt</div>

                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label text-left">Nazwa</label>
                            <input  v-validate="'required|max:190'" name="name" data-vv-as="nazwa" type="text" class="form-control" v-model="name" />
                            <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label text-left">OPis</label>
                            <textarea  v-validate="'required'" name="description" data-vv-as="opis" class="form-control" v-model="description"></textarea>
                            <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                        </div>
                        <div class="form-group row" v-for="(price, index) in prices" :key="index">
                            <label for="price.amount" class="col-sm-2 col-form-label text-left">Cena</label>
                            <input v-validate="'required|max:11|decimal:2'" name="price.amount" type="text" class="form-control" v-model="price.amount" :id="index"/>
                            <span v-show="errors.has('price.amount')" class="text-danger">{{ errors.first('price.amount') }}</span>
                            <a class="btn btn-danger text-white" v-on:click="removeElement(index);">Usuń</a>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary" @click.prevent="addRow()">Dodaj cene</button>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary" @click.prevent="submit()">Zapisz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                description: '',
                prices: [],
                amount: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            addRow() {
                var elem = document.createElement('div');
                this.prices.push({
                    amount: ''
                });
            },
            removeElement(index) {
                this.prices.splice(index, 1);
            },
            clearForm() {
                this.name = '';
                this.description = '';
                this.prices = [];
            },
            submit() {
                var credentials = {
                    name: this.name,
                    description: this.description,
                    prices: this.prices
                }
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        return new Promise((res,rej)=>{
                            axios.post('/api/store-product', credentials)
                            .then(response => {
                                res(response.data);
                                this.clearForm();
                            })
                            .catch(err => {
                                rej('An error occured.. try again later.')
                            })
                        })
                    }
                })
            }
        }
    }
</script>
