<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" v-if="modal">
                    <span @click="closeModal()" class="close">&times;</span>
                    <strong>Success!</strong> Dane zostały zaktualizowane
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Edytuj produkt</div>

                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label text-left">Nazwa</label>
                            <input  v-validate="'required|max:190'" name="name" data-vv-as="nazwa" type="text" class="form-control" @input="$emit('input', formInputs.name)" v-model="formInputs.name" />
                            <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label text-left">OPis</label>
                            <textarea  v-validate="'required'" name="description" data-vv-as="opis" class="form-control" @input="$emit('input', formInputs.description)" v-model="formInputs.description"></textarea>
                            <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                        </div>
                        <div class="form-group row">
                            <span class="col-sm-2 col-form-label text-left">Ceny</span>
                        </div>
                        <div class="form-group row" v-for="prod in product.prices" :key="prod.id">
                            <div class="col-6 text-left">
                                {{prod.amount}} zł
                            </div>
                            <div class="col-6 text-right">
                                <span class="btn btn-danger" @click.prevent="removePrice(prod.id)">Usuń</span>
                            </div>
                        </div>
                        <div class="form-group row" v-for="(price, index) in prices" :key="index">
                            <label for="price.amount" class="col-sm-2 col-form-label text-left">Cena</label>
                            <input v-validate="'required|max:11|decimal:2'" name="price.amount" type="text" class="form-control" v-model="price.amount" :id="index"/>
                            <span v-show="errors.has('price.amount')" class="text-danger">{{ errors.first('price.amount') }}</span>
                            <a class="btn btn-danger text-white" v-on:click="removeElement(index);">Usuń</a>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary" @click.prevent="addRow()">Dodaj cene</button>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary" @click.prevent="submit()">Aktualizuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['product'],
        data() {
            return {
                prices: [],
                formInputs: {
                    name: this.product.name,
                    description: this.product.description,
                    prices: this.product.prices,
                    amount: ''
                },
                focused: '',
                modal: false,
            }
        },
        mounted() {},
        methods: {
            closeModal() {
                this.modal = !this.modal;
            },
            addRow() {
                var elem = document.createElement('div');
                this.prices.push({
                    amount: ''
                });
            },
            removeElement(index) {
                this.prices.splice(index, 1);
            },
            removePrice(id) {
                console.log(id)
                var credentials = {
                    id: id
                }
                axios.post('/api/delete-price/${id}', credentials)
                .then(response => {
                    window.location.reload();
                })
                .catch(err => {
                    console.log('An error occured.. try again later.')
                })
            },
            submit() {
                var credentials = {
                    id: this.product.id,
                    name: this.formInputs.name,
                    description: this.formInputs.description,
                    prices: this.prices
                }
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        return new Promise((res,rej)=>{
                            axios.post('/api/update-product/'+this.product.id, credentials)
                            .then(response => {
                                res(response.data);
                                
                                this.modal = true;
                            })
                            .catch(err => {
                                rej('An error occured.. try again later.')
                            })
                        })
                    }
                })
            }
        },
        computed: {
            filteredNames() {
                let filter = new RegExp(this.findName, 'i')
                return this.names.filter(el => el.match(filter))
            }
        }
    }
</script>
