<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Lista produktów</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Prices</th>
                                    <th scope="col">Created at</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="product in products" :key="product.id">
                                    <th scope="row">{{product.id}}</th>
                                    <td>{{product.name}}</td>
                                    <td>{{product.description}}</td>
                                    <td>
                                        <ul>
                                            <li v-for="price in product.prices" :key="price.id">{{price.amount}} zł</li>
                                        </ul>
                                    </td>
                                    <td>{{product.created_at}}</td>
                                    <td>
                                        <span class="btn btn-danger" @click.prevent="removeProduct(product.id)">Usuń</span>
                                    </td>
                                    <td>
                                        <a :href="'product/'+product.id+'/edit'" class="btn btn-info">Edytuj</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal" v-if="dialog1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Product został usunięty.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['products'],
        data() {
            return {
                dialog1: true,
            }
        },
        methods: {
            removeProduct(id) {
                var credentials = {
                    id: id
                }
                axios.post('api/delete-product', credentials)
                .then(response => {
                    const index = this.products.findIndex(product => product.id === id)
                    if (~index){
                        this.products.splice(index, 1)
                        this.dialog1 = true;
                    }
                })
                .catch(err => {
                    console.log('An error occured.. try again later.')
                })
            }
        },
        beforeMount() {},
        created() {}
    }
</script>
